<%= link_to 'Back To All Stuff!', pins_path, class: "btn btn-danger btn-lg" %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>

      <div class="panel-body">
         <div style="font-family: Bangers"
              <p></p>
              <p><strong><%= @pin.description %></strong></p>
          </div>
          <div style="font-family: Indie Flower; color: #e74c3c"
              <p><strong><%= @pin.user.email if @pin.user %></strong></p>
          </div>
              <% if @pin.user == current_user %>
                  <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Edit', edit_pin_path(@pin) %>
              <% end %>
      </div>
    </div>
  </div>
</div>

